<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.HomeMapper">
   <select id="getHome" resultType="com.example.server.domin.vo.HomeVo">
       select * from blogs_home
   </select>

    <select id="getProjects" resultType="com.example.server.domin.Project">
        select * from project
    </select>

</mapper>

